doctype
html
  head
    title #{title}
  body
    header
      h1 #{message}
    .container
      .main-content
        form(method='post' action='/adddata' id='adduser')
            table
                tr
                    td
                        input(type='text' name='fname')
                tr
                    td
                        input(type='text' name='lname')
                tr
                    td
                        input(type='number' name='age')
                tr
                    td
                        input(type='submit' value='add')
